/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.afterClick{
  background: url("total-rickall.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.open{
  background: url("rick-and-morty-wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body *{
  background: none;
}
.title{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title *{
  text-align: center;
  color: black;
  font-family: 'Shizuru', cursive;
  font-size: 60px;
  margin: 0;
}
.characterProfiles{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.characterSelection{
  display: flex;
}
.characterSelection > section{
  width: 50%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;

}
.characterSelection > section > section{
  display: flex;
  margin: 1%;

}
div img{
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  
}
.character{
  margin: 1%;
  /* width: 100px;
  height: 100px; */
  background-color: #bedd42;
  border-radius: 10px;
  border: solid 1px black;
}
.character.other{
  background-color: #42b4ca;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*character setup*/
.characterSelectionMain{
  display: flex;
  align-items: center;
  margin-top: 0;
}
#loadPictureHere{
  max-height: 450px;
  object-fit: cover;
   border: solid black 5px;
   background-color: grey;
}
.characterSelectionMain section{
  display: flex;
  flex-direction: column;
}
.characterSelectionMain section div{
  display: flex;
  justify-content: center;
}
.characterSelectionMain *{
  margin: 5px;
}
.button{
  border: black solid 2px;
  background-color: grey;

}

.infectionChooser div, .infectionChooser h2{
  background-color: wheat;
  border: solid black 5px;
}

.answer{
  border: solid black 5px;
}
.answer.correct{
  padding: 30px;
  font-size: xx-large;
  background-color: green;
}

.answer.wrong{
  background-color: red;
  padding: 15px;
  font-size: xx-large;
}

#loadPictureName{
  text-align: center;
}
.hidden{
  display: none;
}

.action{
  cursor: pointer;
}

@media screen and (max-width: 1000px){ 
  .characterSelection{
    flex-direction: column;
  }
  html *, .characterProfiles{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
  }
  .characterSelection > section{
    width: 100%;
  }
  .titleImage{
    width: 100%;
  }
  .character{
    width: 100%;
  }
}

/* Links */
.links{
     padding: 4px;
     background-color: rgba(0, 0, 0, .9);
     border-radius:  5px 0 0 5px;     
     position: fixed;
     bottom: 0;
     right: 0;
}
.links *{
     display: flex;
     justify-content: center;
     align-items: flex-end;
     color: #a2a2a2;
     width: fit-content;
     text-decoration: none;
}
.icons *{
     padding: 0 2% 0 2%;
     font-size: 20px;
}
.links a:hover {
     color: #49bf9d;
     text-decoration: none;
}
